# 파이썬의 과학기술 분야 Ecosystem
<img src="img/1강/파이썬과학기술라이브러리.jpg" alt="datetime" style="width: 1200px;"/>
# 1. Pandas 소개
<img src="img/1강/6pandas소개.jpg" alt="datetime" style="width: 1200px;"/>
# [ Pandas API 공식 문서 ]
## http://pandas.pydata.org/pandas-docs/stable/api.html

# 2. Pandas 주요 데이터 타입

## 2.1. Series (시리즈)
<img src="img/1강/Series소개.jpg" alt="datetime" style="width: 1200px;"/>

In [13]:
# Pandas 라이브러리 사용
import pandas 
import pandas as pd # as를 통해 별칭 부여
from pandas import Series #보통 pandas 라이브러리를 사용할 때 
                          #Series와 DataFrame이라는 이름은 자주 사용하기 때문에
                          #Series와 DataFrame을 로컬 네임스페이스로 직접 임포트하는 방식을 더 많이 사용

In [2]:
data = Series([0,1,2,3,4,5,6,7,8,9], index = list('ABCDEFGHIJ'))

In [19]:
data[2:6]

C    45
D    11
E     2
F    73
dtype: int64

## 2.1.1 Series 생성

In [20]:
#기본 Series 생성
data1 = Series([3, 5, 1, 2])
data1

0    3
1    5
2    1
3    2
dtype: int64

In [3]:
type(data1.values)

numpy.ndarray

In [4]:
data1.dtypes

dtype('int64')

In [21]:
data1.values

array([3, 5, 1, 2], dtype=int64)

In [5]:
#값은 모든 데이터 타입 가능
data2 = Series(('big data', 30, [1,2,3]))
data2

0     big data
1           30
2    [1, 2, 3]
dtype: object

In [6]:
#인덱스 라벨 추가
data2.index = ['강의명', '수강생', '비고']
data2

강의명     big data
수강생           30
비고     [1, 2, 3]
dtype: object

In [7]:
#숫자 인덱스로 값 접근
data2[0]

'big data'

In [8]:
# 인덱스 라벨로 값 접근
data2['강의명']

'big data'

In [9]:
#사전 타입처럼 인덱스:값의 형태로도 생성 가능
data3 = Series({'a':1, 'b':3,'c':6,'d':13})
data3

a     1
b     3
c     6
d    13
dtype: int64

In [28]:
# 값과 Index 인자를 사용하여, Series 생성
data4 = Series([10, 20, 30, 40, 50, 60, 70, 80, 90, 100], 
               index = ['a','b','c','d','e','f','g','h','i','j'])
data4

a     10
b     20
c     30
d     40
e     50
f     60
g     70
h     80
i     90
j    100
dtype: int64

In [26]:
data = Series([10, -2, 3.5, 4, 8], 
               index = ['A','B','C','D','E'])
data
data['F'] = -15
data

A    10.0
B    -2.0
C     3.5
D     4.0
E     8.0
F   -15.0
dtype: float64

In [12]:
data.append(pd.Series({'F':-15}))

A    10.0
B    -2.0
C     3.5
D     4.0
E     8.0
F   -15.0
dtype: float64

In [13]:
data.describe()

count     5.000000
mean      4.700000
std       4.631414
min      -2.000000
25%       3.500000
50%       4.000000
75%       8.000000
max      10.000000
dtype: float64

## 2.2.2. Series 색인

In [14]:
# 특정 인덱스 접근 (숫자 인덱스)
data4[2]

30

In [15]:
# 특정 인덱스 접근 (인덱스 라벨)
data4['c']

30

In [16]:
# 여러 인덱스 접근
data4[[1,3,5]]

b    20
d    40
f    60
dtype: int64

In [17]:
data4[['a','c','f']]

a    10
c    30
f    60
dtype: int64

# 인덱스 슬라이싱 (숫자 인덱스)
<img src="img/1강/3문자열슬라이싱.jpg" alt="datetime" style="width: 800px;"/>

### 1) :을 기점으로 왼쪽에 start index, 오른쪽에 end index 지정
### 2) start index 보다 크거나 같고, end index보다 작은 항목을 선택
### 3) 예를 들어, a[2:5]는 a[[2,3,4]]와 동일
### 4) start index와 end index는 생략 가능하며, 생략 시 start index는 첫 인덱스, end index는 끝 인덱스로 지정됨.
### 5) 음수 인덱스는 끝에서 시작되는 역인덱스임.

In [18]:
data = Series(range(0,100,10), index = list('ABCDEFGHIJ'))
data

A     0
B    10
C    20
D    30
E    40
F    50
G    60
H    70
I    80
J    90
dtype: int64

In [19]:
data4[3:7]

d    40
e    50
f    60
g    70
dtype: int64

In [20]:
#인덱스 라벨 슬라이싱
# 기본적으로 숫자 인덱스와 동일하나, end index 포함여부가 다름.
# 숫자 인덱스는 end index가 포함되지 않으나, 인덱스 라벨 슬라이싱은 end index가 포함됨.
data4['b':'f']

b    20
c    30
d    40
e    50
f    60
dtype: int64

# 조건을 활용한 인덱스 선택 (조건 색인)
# 매우 많이 활용되므로, 꼭 알고 있어야 함!
<img src="img/1강/조건색인.jpg" alt="datetime" style="width: 1200px;"/>

In [21]:
# data4의 값이 50 이상인 경우만 선택
data4 >= 50

a    False
b    False
c    False
d    False
e     True
f     True
g     True
h     True
i     True
j     True
dtype: bool

In [22]:
data4[data4 >= 50]

e     50
f     60
g     70
h     80
i     90
j    100
dtype: int64

## 2.2.3. Series 속성 조회 및 주요 함수

### 속성 (Attributes)

In [23]:
# 1) index - 인덱스 출력
data4.index

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

In [24]:
# 2) values - 값 출력
data4.values

array([ 10,  20,  30,  40,  50,  60,  70,  80,  90, 100], dtype=int64)

In [25]:
# 3) dtype - 데이터 타입 출력
data4.dtype

dtype('int64')

In [26]:
# 4) size - Series의 크기 
data4.size

10

In [30]:
# 5) loc
data4.loc['c']

30

In [46]:
# 6) iloc
data4.iloc[5]

60

### 주요 함수

In [53]:
#append()
data4 = data4.append(Series({'k':110}))

In [55]:
# add()
data4.add(100)

a    110
b    120
c    130
d    140
e    150
f    160
g    170
h    180
i    190
j    200
k    210
dtype: int64

In [56]:
# descrie()
data4.describe()

count     11.000000
mean      60.000000
std       33.166248
min       10.000000
25%       35.000000
50%       60.000000
75%       85.000000
max      110.000000
dtype: float64

In [28]:
# 1) 인덱스 라벨이 있는지 체크
'c' in data4 # data4.index

True

In [29]:
# 2) 특정 값이 있는지 체크
50 in data4.values

True

In [30]:
# data4의 모든 항목 값을 출력
for i in data4.values:
    print(i)

10
20
30
40
50
60
70
80
90
100

In [31]:
# data4의 모든 인덱스 라벨을 출력
for i in data4.index:
    print(i)

a
b
c
d
e
f
g
h
i
j

In [32]:
# data4의 모든 인덱스 라벨과 값의 쌍을 출력
for index, value in data4.items():
    print(index, value)

a 10
b 20
c 30
d 40
e 50
f 60
g 70
h 80
i 90
j 100

=============================================================
# 실습 문제

In [14]:
import random

In [15]:
# 실습 데이터 생성
sample = random.sample(range(1,100),26) # 1~100사이의 값을 26개 생성하여 list로 반환
data = Series(sample, index = list('ABCDEFGHIJKLMNOPQRSTUVWXYZ'))
data

A    99
B    37
C    45
D    11
E     2
F    73
G    67
H    98
I    30
J    42
K    81
L    66
M    91
N    20
O    74
P    51
Q    82
R    32
S    97
T    12
U    28
V    72
W    69
X    75
Y    80
Z    57
dtype: int64

In [35]:
# 1) 인덱스 라벨이 'K' 항목의 값 출력
data.loc['K']

18

In [36]:
# 2) 인덱스 라벨이 'A','F','C' 항목의 값 출력
data.loc[['A','F','C']]

A    51
F    30
C    75
dtype: int64

In [18]:
# 3) 5번 인덱스부터 15번 인덱스까지의 항목 출력
data.iloc[5:16]
data[2:5]

C    45
D    11
E     2
dtype: int64

In [38]:
# 4) 뒤에서 5개 항목 출력
data.iloc[-5:]

V    40
W    38
X    24
Y     8
Z    87
dtype: int64

In [39]:
# 5) data의 항목의 갯수를 출력
data.size

26

In [40]:
# 6) data 항목 값들의 평균보다 큰 항목만 출력 
## Hint. data 항목 값들의 평균은 data.mean()으로 구할 수 있다.
data[data > data.mean()]

A    51
B    52
C    75
H    71
J    53
L    80
M    89
O    72
P    99
Q    70
T    63
U    91
Z    87
dtype: int64

In [41]:
# 7) data의 항목 값 중에 50이 있는지 확인하여, 있으면 True, 없으면 False를 출력
50 in data.values

False

In [42]:
# 8) data의 인덱스 라벨과 각 항목 값을 아래와 같이 출력
# index: A, value: XX
# index: B, value: XX
# index: C, value: XX
for index, value in data.items():
    print('index: ' + str(index) + ', value: ' + str(value))

index: A, value: 51
index: B, value: 52
index: C, value: 75
index: D, value: 45
index: E, value: 12
index: F, value: 30
index: G, value: 22
index: H, value: 71
index: I, value: 19
index: J, value: 53
index: K, value: 18
index: L, value: 80
index: M, value: 89
index: N, value: 11
index: O, value: 72
index: P, value: 99
index: Q, value: 70
index: R, value: 2
index: S, value: 15
index: T, value: 63
index: U, value: 91
index: V, value: 40
index: W, value: 38
index: X, value: 24
index: Y, value: 8
index: Z, value: 87

In [43]:
for index, value in data.items():
    str = 'index: {0}, value: {1}'.format(index, value)
    print(str)

index: A, value: 51
index: B, value: 52
index: C, value: 75
index: D, value: 45
index: E, value: 12
index: F, value: 30
index: G, value: 22
index: H, value: 71
index: I, value: 19
index: J, value: 53
index: K, value: 18
index: L, value: 80
index: M, value: 89
index: N, value: 11
index: O, value: 72
index: P, value: 99
index: Q, value: 70
index: R, value: 2
index: S, value: 15
index: T, value: 63
index: U, value: 91
index: V, value: 40
index: W, value: 38
index: X, value: 24
index: Y, value: 8
index: Z, value: 87